<div class="background-texts">
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
    <h1 class="big-text" class="big-text toLeft">HENRIQUE <span>ALBUQUERQUE</span></h1>
    <h1 class="big-text" class="big-text toLeft2">HENRIQUE <span>ALBUQUERQUE</span></h1>
  </div>
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
    <h1 class="big-text" class="big-text toRight">SOFTWARE <span>ENGINEER</span></h1>
    <h1 class="big-text" class="big-text toRight2">SOFTWARE <span>ENGINEER</span></h1>
  </div>
</div>

