<main class="container fadein">

  <div class="card">
    <h4 class="title">Face api library</h4>

    <div class="flags">
      <small class="node">NODEJS</small>
      <small class="typescript">TYPESCRIPT</small>
    </div>

    <p class="description">
      A short description about the project that i'm showing off.
    </p>

    <a class="show-me-the-code">
      Show me the code
    </a>
  </div>

  <div class="card">
    <h4 class="title">Face api library</h4>

    <div class="flags">
      <small class="node">NODEJS</small>
      <small class="typescript">TYPESCRIPT</small>
    </div>

    <p class="description">
      A short description about the project that i'm showing off.
    </p>

    <a class="show-me-the-code">
      Show me the code
    </a>
  </div>

  <div class="card">
    <h4 class="title">Face api library</h4>

    <div class="flags">
      <small class="node">NODEJS</small>
      <small class="typescript">TYPESCRIPT</small>
    </div>

    <p class="description">
      A short description about the project that i'm showing off.
    </p>

    <a class="show-me-the-code">
      Show me the code
    </a>
  </div>

  <div class="card">
    <h4 class="title">Face api library</h4>

    <div class="flags">
      <small class="node">NODEJS</small>
      <small class="typescript">TYPESCRIPT</small>
    </div>

    <p class="description">
      A short description about the project that i'm showing off.
    </p>

    <a class="show-me-the-code">
      Show me the code
    </a>
  </div>

  <div class="card">
    <h4 class="title">Face api library</h4>

    <div class="flags">
      <small class="node">NODEJS</small>
      <small class="typescript">TYPESCRIPT</small>
    </div>

    <p class="description">
      A short description about the project that i'm showing off.
    </p>

    <a class="show-me-the-code">
      Show me the code
    </a>
  </div>

  <div class="card">
    <h4 class="title">Face api library</h4>

    <div class="flags">
      <small class="node">NODEJS</small>
      <small class="typescript">TYPESCRIPT</small>
    </div>

    <p class="description">
      A short description about the project that i'm showing off.
    </p>

    <a class="show-me-the-code">
      Show me the code
    </a>
  </div>

</main>
